[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
aiofiles = "==0.5.0"
fastapi = "==0.65.2"
uvicorn = "==0.11.7"

[dev-packages]
black = "*"
pylint = "*"
flake8 = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
